# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]
*$py.class
*.so

# ============================================
# Virtual Environments
# ============================================

venv/
env/

# ============================================
# Mac
# ============================================

.DS_Store

# ============================================
# Streamlit
# ============================================

.streamlit/secrets.toml
